body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #202025;
    color: #fff;
}

#menu {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(20,20,20,0.9);
    padding: 10px;
    border-radius: 6px;
    max-width: 300px;
    z-index: 10;
}

#menu button, #menu input, #menu select {
    margin: 3px;
    display: block;
}

#sculptTools {
    margin-top: 10px;
}